body {
  font-family: "Open Sans", "Roboto", Arial, Helvetica, sans-serif, "SimSun";
}

.body1-style-lightmode {
  margin: 0px;
  padding-top: 90px;
  padding-left: 280px;
  padding-right: 20px;
  background-color: rgb(248, 248, 248);
}

.body1-style-darkmode {
  margin: 0px;
  padding-top: 90px;
  padding-left: 280px;
  padding-right: 20px;
  background-color: rgba(18, 18, 18, 0.9);
}

.body2-style-lightmode {
  margin: 0px;
  padding: 0px;
  padding-top: 90px;
  padding-bottom: 100px;
  background-color: rgb(248, 248, 248);
}

.body2-style-darkmode {
  margin: 0px;
  padding: 0px;
  padding-top: 90px;
  padding-bottom: 100px;
  background-color: rgba(18, 18, 18, 0.8);
}

/* .card-container-wrap {
  padding-bottom: 40px;
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  margin-left: 260px;
  margin-right: 200px;
} */
