body {
  margin-top: 20px;
  padding-left: 10px;
}

.body1-style-lightmode {
  margin: 0px;
  padding-top: 90px;
  padding-left: 280px;
  padding-right: 20px;
  background-color: rgb(248, 248, 248);
}

.body1-style-darkmode {
  margin: 0px;
  padding-top: 90px;
  padding-left: 280px;
  padding-right: 20px;
  background-color: rgba(18, 18, 18, 0.9);
}

.body2-style-lightmode {
  margin: 0px;
  padding: 0px;
  padding-top: 90px;
  padding-bottom: 100px;
  background-color: rgb(248, 248, 248);
}

.body2-style-darkmode {
  margin: 0px;
  padding: 0px;
  padding-top: 90px;
  padding-bottom: 100px;
  background-color: rgba(18, 18, 18, 0.8);
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 57.4px;
  position: fixed;
  z-index: 100;
  border: 1.2px solid rgb(192, 192, 192);
  border-right-style: none;
  border-left-style: none;
  border-top-style: none;
  top: 0px;
  left: 0px;
  right: 0px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
  margin-left: 0px;
  padding-top: 0px;
}

.search-input-container {
  display: flex;
  flex-direction: row;
  position: relative;
  display: flex;
  width: 120%;
  margin-right: -1px;
}

.search-icon-darkmode {
  position: absolute;
  flex: 1;
  width: 40px;
  height: 30px;
  left: 20px;
  top: 15px;
  bottom: 10px;
  color: white;
}

.search-icon-lightmode {
  position: absolute;
  flex: 1;
  width: 40px;
  height: 30px;
  left: 20px;
  top: 15px;
  bottom: 10px;
  color: black;
}

.search-bar-input-darkmode {
  width: 100%;
  font-size: 18px;
  font-weight: normal;
  text-indent: 65px;
  padding-left: 20px;
  border-style: none;
  box-shadow: inset 1px 2px 3px rgba(0, 0, 0, 0.15);
  background-color: rgb(176, 176, 176);
}

.search-bar-input-lightmode {
  width: 100%;
  font-size: 18px;
  font-weight: normal;
  text-indent: 65px;
  padding-left: 20px;
  border-style: none;
  box-shadow: inset 1px 2px 3px rgba(0, 0, 0, 0.15);
}

.search-bar-input-lightmode:focus {
  outline: none;
  box-shadow: 0 2px 0 0 blue;
}

.search-bar-input-darkmode:focus {
  outline: none;
  box-shadow: 0 4px 0 0 green;
}

.search-bar-input-lightmode::placeholder {
  font-size: 15px;
}

.search-bar-input-darkmode::placeholder {
  font-size: 15px;
  color: black;
}

.icon-darkmode {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: left;
  background-color: black;
  width: 257px;
  flex-shrink: 0;
  height: 100%;
  padding-left: 5px;
  padding-top: 5px;
}

.icon2-darkmode {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: left;
  background-color: black;
  width: 257px;
  flex-shrink: 0;
  height: 100%;
  padding-left: 25px;
}

.icon-lightmode {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: left;
  background-color: #3ca62a;
  width: 257px;
  flex-shrink: 0;
  height: 100%;
  padding-left: 5px;
  padding-top: 5px;
}

.icon2-lightmode {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: left;
  background-color: #3ca62a;
  width: 257px;
  flex-shrink: 0;
  height: 100%;
  padding-left: 25px;
}

.logo-title {
  color: white;
  font-family: "Winky Rough", sans-serif;
  font-size: 25px;
  font-optical-sizing: auto;
  font-weight: bolder;
  font-style: normal;
  margin-left: 5px;
}

.grel-icon2-lightmode {
  display: flex;
  align-items: center;
  justify-content: left;
  background-color: #3ca62a;
  width: 237px;
  flex-shrink: 0;
  height: 100%;
  padding-left: 20px;
}

.grel-icon2-darkmode {
  display: flex;
  align-items: center;
  justify-content: left;
  background-color: black;
  width: 237px;
  flex-shrink: 0;
  height: 100%;
  padding-left: 20px;
}

.header-logo {
  width: 20%;
  height: 60%;
  margin-left: 5px;
}

.search-bar {
  display: flex;
  flex-direction: row;
  flex: 3;
  height: 100%;
  border-bottom-width: 1px;
}

.tools-wrap-darkmode {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: left;
  padding-left: 30px;
  column-gap: 23px;
  flex: 0.7;
  height: 100%;
  box-shadow: inset 1px 2px 3px rgba(0, 0, 0, 0.15);
  background-color: rgb(176, 176, 176);
}

.tools-wrap-lightmode {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: left;
  padding-left: 30px;
  column-gap: 23px;
  flex: 0.7;
  height: 100%;
  box-shadow: inset 1px 2px 3px rgba(0, 0, 0, 0.15);
  background-color: white;
}

.sidebar-darkmode {
  box-sizing: border-box;
  background-color: black;
  color: white;
  border-top-width: 0px;
  padding-top: 32px;
  padding-left: 2px;
  padding-right: 15px;
  position: fixed;
  z-index: 200;
  width: 257px;
  left: 0px;
  top: 57px;
  bottom: 0px;
}

.sidebar-lightmode {
  box-sizing: border-box;
  background-color: #3ca62a;
  color: white;
  border-top-width: 0px;
  padding-top: 32px;
  padding-left: 2px;
  padding-right: 15px;
  position: fixed;
  z-index: 200;
  width: 257px;
  left: 0px;
  top: 57px;
  bottom: 0px;
}

.sidebar-darkmode a,
.sidebar-lightmode a {
  font-size: 13px;
  color: white;
  display: flex;
  flex-direction: row;
  column-gap: 12px;
  height: 30px;
  text-decoration: none;
  border-width: 1px;
  border-style: solid;
  align-items: center;
  margin-bottom: 5px;
  padding-left: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-style: none;
  font-weight: 500;
}

.link-text {
  font-size: medium;
  font-weight: 100;
}

.link-text[aria-disabled="true"] {
  font-size: medium;
  font-weight: 100;
  opacity: 0.5;
}

.active {
  background-color: green;
  border-radius: 5px;
}

.sidebar-darkmode a:hover,
.sidebar-lightmode a:hover {
  cursor: pointer;
  background-color: green;
  border-radius: 5px;
}

.wrap {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding-left: 20px;
  margin-top: 6px;
  margin-bottom: 6px;
  border-left-width: 2px;
  border-left-color: grey;
  border-left-style: solid;
}

.heart-icon {
  width: 25px;
  height: 25px;
}

.contacts-icon {
  width: 25px;
  height: 25px;
}

.lightmode {
  width: 32px;
  height: 30px;
  cursor: pointer;
  color: black;
}

.lightmode:hover {
  opacity: 0.7;
}

.lightmode:active {
  width: 32px;
  height: 30px;
  cursor: pointer;
  color: gray;
}

.notifications-icon-container {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.notifications-icon1-darkmode {
  width: 35px;
  height: 32px;
  color: white;
}

.notifications-icon1-darkmode:hover {
  color: black;
}

.notifications-icon1-lightmode {
  width: 35px;
  height: 32px;
  color: black;
}

.notifications-icon1-lightmode:hover {
  opacity: 0.7;
}

.notifications-icon2 {
  width: 35px;
  height: 32px;
  color: white;
}

.notifications-count {
  position: absolute;
  top: -2px;
  right: -5px;
  background-color: red;
  color: white;
  font-family: Arial;
  font-size: 12px;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 2px;
  padding-bottom: 2px;
  border-radius: 10px;
}

/* .tooltip
{
  font-family: Arial;
  position: absolute;
  background-color: gray;
  color: white;
  padding-top: 4px;
  padding-bottom: 4px;
  padding-left: 8px;
  padding-right: 8px;
  border-radius: 2px;
  font-size: 12px;
  bottom: -30px;
  opacity: 0;
  transition: opacity 0.15s;
  pointer-events: none;
  white-space: nowrap;
} */

.card-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  column-gap: 16px;
  row-gap: 20px;
  padding: 2px;
  padding-bottom: 40px;
}

.card-image-wrap {
  align-items: center;
  margin-top: -7px;
  margin-bottom: 15px;
}

.card-wrap-lightmode {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: white;
  border-radius: 5px;
  border-style: none;
  padding: 15px 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card-wrap-lightmode:hover {
  transform: translateY(-10px) scale(1.05);
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.2);
  background: linear-gradient(to top, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0));
  font-weight: 700;
}

.card-wrap-darkmode {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: rgb(176, 176, 176);
  border-radius: 5px;
  border-style: none;
  padding: 15px 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card-wrap-darkmode:hover {
  transform: translateY(-10px) scale(1.05);
  box-shadow: 0 15px 40px rgba(0, 255, 150, 0.2),
    0 4px 10px rgba(0, 255, 150, 0.3);
  background: linear-gradient(
    to top,
    rgba(0, 255, 150, 0.2),
    rgba(0, 0, 0, 0.1)
  );
  border: 1px solid rgba(0, 255, 150, 0.3);
  font-weight: 700;
}

.card-wrap-darkmode:hover .card-desc {
  color: white;
}

.view-link {
  background-color: #3ca62a;
  cursor: pointer;
  border-style: none;
  border-radius: 2px;
  padding: 5px 6px;
  text-decoration: none;
  color: white;
  transition: all 0.2s ease-in-out;
}

.view-link[aria-disabled="true"],
.view-link[aria-disabled="true"]:hover {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #3ca62a;
  opacity: 0.8;
  cursor: pointer;
  border-style: none;
  border-radius: 2px;
  width: 30px;
  padding: 5pxS;
  text-decoration: none;
  color: white;
  transition: all 0.2s ease-in-out;
}

.view-link:hover {
  color: black;
}

.view-link:active {
  opacity: 0.8;
}

.btn-layer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.card-desc {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 5px;
  color: black;
}

/* .card-desc:hover
{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 5px;
  color: white;
} */

.card-image {
  /* width: 100%; */
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 80px;
  border-radius: 200px;
  margin-left: 40px;
  margin-right: 40px;
}

.card-image img {
  object-fit: contain;
}

.heart-icon2 {
  width: 20px;
  height: 15px;
  cursor: pointer;
}

.alpha {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 70px;
  height: 70px;
  border-radius: 35px;
  background-color: yellow;
  font-size: 40px;
}

ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  column-gap: 20px;
  list-style-type: none;
  padding: 0;
  margin: 0;
  margin-left: -100px;
  color: white;
  transition: font-size 1s ease-in-out;
}

ul a {
  text-decoration: none;
  color: white;
}

ul a[aria-disabled="true"] {
  text-decoration: none;
  color: white;
  opacity: 0.5;
}

ul a:hover {
  text-decoration: underline;
  color: white;
  font-size: 17px;
}

.header2-middle-lightmode {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex: 3;
  height: 100%;
  border-bottom-width: 1px;
  background-color: #3ca62a;
}

.header2-middle-darkmode {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex: 3;
  height: 100%;
  border-bottom-width: 1px;
  background-color: black;
}

.tools-wrap2-lightmode {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: left;
  padding-left: 30px;
  column-gap: 23px;
  flex: 0.7;
  height: 100%;
  box-shadow: inset 1px 2px 3px rgba(0, 0, 0, 0.15);
  background-color: #3ca62a;
}

.tools-wrap2-darkmode {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: left;
  padding-left: 30px;
  column-gap: 23px;
  flex: 0.7;
  height: 100%;
  box-shadow: inset 1px 2px 3px rgba(0, 0, 0, 0.15);
  background-color: black;
}

.darkmode {
  color: white;
  width: 32px;
  height: 30px;
  cursor: pointer;
}

.darkmode:hover {
  color: black;
}

.darkmode:active {
  color: black;
  /* color: gray; */
}

.darkmode2 {
  color: white;
  width: 32px;
  height: 30px;
  cursor: pointer;
}

.darkmode2:hover {
  color: gray;
}

.darkmode2:active {
  /* color: black; */
  color: gray;
}

.detailed-card-left {
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  padding-bottom: 20px;
  border-style: solid;
  border-color: #3ca62a;
  border-width: 2px;
  flex: 6;
  box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.6);
  transition: transform 0.3s ease-in-out;
  background-color: rgb(248, 248, 248);
}

.detailed-card-image-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 600px;
  width: 100%;
  border-radius: 20px;
  position: relative;
}

.detailed-card-image {
  border-top-left-radius: 17.8px;
  border-top-right-radius: 17.8px;
  height: 100%;
  width: 100%;
  object-fit: fill;
  image-rendering: pixelated;
}

.detailed-card-right {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding-left: 0px;
  padding-right: 0px;
  padding-top: 10px;
  padding-bottom: 17px;
  width: 100px;
  border-radius: 20px;
  border-style: solid;
  border-color: #3ca62a;
  background-color: rgb(248, 248, 248);
  border-width: 2px;
  flex: 1.3;
  box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.6);
  transition: transform 0.3s ease-in-out;
}

.detailed-card-right a {
  height: 135px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  cursor: pointer;
  width: 100%;
  text-decoration: none;
}

.detailed-card-right a:hover {
  background-color: rgb(235, 235, 235);
}

.detailed-card-left:hover,
.detailed-card-right:hover {
  box-shadow: 0px 15px 35px rgba(0, 0, 0, 0.8);
  transform: translateY(-5px);
}

.links-title {
  font-size: 24px;
  font-weight: bold;
  font-style: italic;
  padding: 0px;
  margin: 0px;
}

.link-desc {
  color: black;
  font-weight: 500;
}

.detail-btn {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  left: 0px;
  right: 0px;
  bottom: -25px;
  padding: 0px 40px;
}

.edit-btn {
  background-color: orange;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
  border-style: none;
  border-radius: 25px;
  cursor: pointer;
  box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.1);
}

.delete-btn {
  background-color: red;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
  border-style: none;
  border-radius: 25px;
  cursor: pointer;
  box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.1);
}

.favourite-btn {
  background-color: rgb(9, 182, 239);
  width: 20px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  padding: 5px;
  border-style: none;
  border-radius: 25px;
  cursor: pointer;
  box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.1);
}

.share-btn {
  background-color: green;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
  border-style: none;
  border-radius: 25px;
  cursor: pointer;
  box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.1);
}

/* .edit-btn:active,
.delete-btn:active,
.favourite-btn:active,
.share-btn:active
{
  opacity: 0.8;
} */

.edit-btn:hover {
  box-shadow: 0px 10px 30px rgba(255, 165, 0, 0.3);
}

.delete-btn:hover {
  box-shadow: 0px 10px 30px rgba(255, 0, 0, 0.3);
}

.favourite-btn:hover {
  box-shadow: 0px 10px 30px rgb(9, 182, 239, 0.3);
}

.share-btn:hover {
  box-shadow: 0px 10px 30px rgba(0, 128, 0, 0.3);
}

.fav-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: inherit;
  border: none;
  cursor: pointer;
}

.occupations {
  display: flex;
  flex-direction: row;
  column-gap: 5px;
}

.occupation1 {
  font-size: small;
  font-weight: 700;
}

.occupation2 {
  font-size: small;
  font-weight: 700;
}

.edit {
  color: white;
  width: 25px;
  height: 25px;
}

.delete {
  color: white;
  width: 25px;
  height: 25px;
}

.share {
  color: white;
  width: 20px;
  height: 20px;
}

.fav-icon {
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.desc {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 40px;
  margin-bottom: 10px;
}

.credentials {
  padding-bottom: 20px;
  padding-left: 45px;
  padding-top: 10px;
  padding-right: 40px;
}

.number-detail,
.email-detail,
.home-detail {
  display: flex;
  flex-direction: column;
  row-gap: 1px;
}

.personal-number,
.personal-email,
.home {
  color: gray;
  font-size: small;
  font-weight: 700;
}

.email,
.number,
.home-address {
  color: black;
  font-size: 17px;
  font-weight: 700;
}

.person-name {
  font-size: 20px;
  font-weight: 700;
  color: black;
}

.vertical-line {
  width: 2px;
  height: 14px;
  background-color: black;
}

.back-arrow-lightmode {
  display: flex;
  flex-direction: row;
  align-items: center;
  column-gap: 5px;
  text-decoration: none;
  color: black;
}

.back-arrow-lightmode:hover {
  text-decoration: underline;
}

.back-arrow-darkmode {
  display: flex;
  flex-direction: row;
  align-items: center;
  column-gap: 5px;
  text-decoration: none;
  color: white;
}

.back-arrow-darkmode:hover {
  text-decoration: underline;
}

.back {
  width: 30px;
  height: 30px;
}

.back-arrow-desc {
  font-size: 20px;
  font-weight: 700;
}

.card-container-wrap {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  margin-left: 260px;
  margin-right: 200px;
}

.card-container {
  display: flex;
  flex-direction: row;
  column-gap: 35px;
}

.ref-link-image {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.pageNav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 35px;
  padding: 0px 20px;
}

.next {
  border-style: solid;
  border-radius: 5px;
  padding: 10px 30px;
  background-color: #3ca62a;
  color: white;
  cursor: pointer;
}

.next:hover {
  opacity: 0.9;
}

.next:active {
  opacity: 0.7;
}

.next[aria-disabled="true"] {
  visibility: hidden;
}

.previous {
  border-style: solid;
  border-radius: 5px;
  padding: 10px 30px;
  background-color: orange;
  color: black;
  cursor: pointer;
}

.previous:hover {
  opacity: 0.9;
}

.previous:active {
  opacity: 0.7;
}

.previous[aria-disabled="true"] {
  visibility: hidden;
}

.main-container {
  padding-bottom: 60px;
}

.pageNumber-lightmode {
  font-weight: bold;
  color: black;
}

.pageNumber-darkmode {
  font-weight: bold;
  color: white;
}

.notification-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: fixed;
  width: 260px;
  height: 400px;
  background-color: rgb(248, 248, 248);
  top: 50px;
  right: 20px;
  border-style: solid;
  border-width: 1px;
  border-radius: 10px;
  overflow: auto;
  padding-top: 7px;
  padding-bottom: 7px;
  padding-left: 8px;
  margin-top: 20px;
  scroll-behavior: smooth;
}

.notification-container-disabled {
  display: none;
}

.notification-container::-webkit-scrollbar {
  width: 8px;
  transition: width 0.3s ease-in-out;
}

.notification-container::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px;
  margin-block: 5px;
}

.notification-container::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
  border: 2px solid transparent;
  background-clip: content-box;
}

.notification-container::-webkit-scrollbar-thumb:hover {
  background: #888;
  width: 10px;
}

.notification-container:hover::-webkit-scrollbar {
  width: 10px;
}

.notification-field {
  font-weight: 700;
}
