body {
  font-family: "Open Sans", "Roboto", Arial, Helvetica, sans-serif, "SimSun";
  margin: 0;
}

:root {
  --color-background: #ffffff;
  --color-primary: #0d6efd;
  --color-primary-dark: #084298;
  --color-secondary: #6c757d;
  --color-accent-orange: #fd7e14;
  --color-success: #198754;
  --color-text-muted: #6c757d;
}

* {
  scrollbar-width: thin;
  scrollbar-color: #888 transparent;
}

*::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

*::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 8px;
}

*::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}

*::-webkit-scrollbar-track {
  background: transparent;
}

.body1-style-lightmode {
  margin: 0px;
  padding-top: 70px;
  padding-left: 260px;
  padding-right: 10px;
  background-color: rgb(248, 248, 248);
}

.body1-style-darkmode {
  margin: 0px;
  padding-top: 70px;
  padding-left: 260px;
  padding-right: 10px;
  background-color: rgba(18, 18, 18, 0.9);
}

/* ===== Mobile View ===== */

@media (max-width: 600px) {
  .body1-style-lightmode,
  .body1-style-darkmode {
    padding-left: 10px;
  }
}

@media (min-width: 601px) and (max-width: 824px) {
  .body1-style-lightmode,
  .body1-style-darkmode {
    padding-left: 70px;
  }
}

@media (min-width: 825px) and (max-width: 874px) {
  .body1-style-lightmode,
  .body1-style-darkmode {
    padding-left: 75px;
  }
}

@media (min-width: 875px) and (max-width: 900px) {
  .body1-style-lightmode,
  .body1-style-darkmode {
    padding-left: 75px;
  }
}

@media (min-width: 901px) and (max-width: 1045px) {
  .body1-style-lightmode,
  .body1-style-darkmode {
    padding-left: 90px;
  }
}

@media (min-width: 1045px) and (max-width: 1242px) {
  .body1-style-lightmode,
  .body1-style-darkmode {
    padding-left: 220px;
    padding-right: 0px;
  }
}
