# services:
#   backend:
#     build: ./server
#     container_name: myapp-backend
#     ports:
#       - "3000:3000"
#     env_file:
#       - ./server/.env
#     restart: always
#     depends_on: []

#   frontend:
#     build: ./client
#     container_name: myapp-frontend
#     ports:
#       - "80:80"
#     stdin_open: true
#     tty: true
#     depends_on:
#       - backend
#     env_file:
#       - ./client/.env
#     environment:
#       NODE_ENV: production

services:
  backend:
    build: ./server
    container_name: myapp-backend
    ports:
      - "3000:3000"
    env_file:
      - ./server/.env
    restart: always

  frontend:
    build: ./client
    container_name: myapp-frontend
    ports:
      - "80:80"
      - "443:443"
    depends_on:
      - backend
    env_file:
      - ./client/.env
    environment:
      NODE_ENV: production
    restart: always

  certbot:
    image: certbot/certbot
    container_name: certbot
    volumes:
      - certbot-etc:/etc/letsencrypt
      - certbot-var:/var/lib/letsencrypt
    entrypoint: >
      sh -c "trap exit TERM; while :; do
      certbot renew --webroot -w /usr/share/nginx/html;
      sleep 12h & wait $${!}; done"

volumes:
  certbot-etc:
  certbot-var:
