services:
  backend:
    build: ./server
    container_name: myapp-backend
    ports:
      - "3000:3000"
    env_file:
      - ./server/.env
    restart: always
    depends_on: []

  frontend:
    build: ./client
    container_name: myapp-frontend
    ports:
      - "80:80"
    stdin_open: true
    tty: true
    depends_on:
      - backend
    env_file:
      - ./client/.env
    environment:
      NODE_ENV: production
