# services:
#   backend:
#     build: ./server
#     container_name: myapp-backend
#     ports:
#       - "3000:3000"
#     env_file:
#       - ./server/.env
#     volumes:
#       - ./server:/app
#     restart: always
#     depends_on: []

#   frontend:
#     build: ./client
#     container_name: myapp-frontend
#     ports:
#       - "5173:80"
#     volumes:
#       - ./client:/app
#     stdin_open: true
#     tty: true
#     depends_on:
#       - backend
#     environment:
#       NODE_ENV: production

# volumes:
#   mysql-data: {}

version: "3.9"

services:
  backend:
    build: ./server
    container_name: myapp-backend
    ports:
      - "3000:3000"
    env_file:
      - ./server/.env
    restart: always
    depends_on: []

  frontend:
    build: ./client
    container_name: myapp-frontend
    ports:
      - "5173:80"
    stdin_open: true
    tty: true
    depends_on:
      - backend
    environment:
      NODE_ENV: production
