.pageWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #ebeaea;
}

.changePasswordContainer {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  justify-content: center;
  align-items: center;
  padding-left: 120px;
  padding-right: 120px;
  padding-top: 50px;
  padding-bottom: 100px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  background: #ffffff;
  border: 2px solid #d6d6d6;
}

.title {
  font-size: 30px;
  font-weight: 700;
}

.desc {
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 10px;
  color: #a49e9e;
}

.passwordInputNest {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}

.passwordInputNest button {
  border-style: none;
  border-radius: 20px;
  color: white;
  background-color: #da9100;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 15px;
  cursor: pointer;
  transition: opacity 0.15s, box-shadow 0.02s;
}

.passwordInputNest button:hover {
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.15);
}

.passwordInputNest button:active {
  opacity: 0.8;
}

.changePasswordInput1,
.changePasswordInput2 {
  display: flex;
  flex-direction: column;
  row-gap: 2px;
}

.changePasswordInput1 input,
.changePasswordInput2 input {
  padding: 5px 0px;
  border: 1px solid #a49e9e;
  font-size: 15px;
  text-indent: 5px;
}

.changePasswordInput1 input::placeholder,
.changePasswordInput2 input::placeholder {
  font-size: 14px;
  font-weight: 500;
}

.changePasswordInput1 label,
.changePasswordInput2 label {
  margin-left: 4px;
  font-size: 15px;
  font-weight: 700;
}

.changePasswordInput2 {
  margin-bottom: 40px;
}

@media (max-width: 501px) {
  body {
    margin: 0px;
    height: 100vh;
    padding-top: 20px;
    padding-bottom: 0px;
    padding-left: 15px;
    padding-right: 15px;
  }

  .changePasswordContainer {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    justify-self: unset;
    align-items: unset;
    padding: 50px 25px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    background: #ffffff;
    border: 2px solid #d6d6d6;
  }

  .title {
    font-size: 35px;
    font-weight: 700;
  }

  .desc {
    font-size: 20px;
    color: #a49e9e;
  }

  .changePasswordInput1 label,
  .changePasswordInput2 label {
    font-size: 18px;
  }

  .changePasswordInput1 input,
  .changePasswordInput2 input {
    height: 30px;
  }
}
