.pageWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #ebeaea;
}

.changePasswordContainer {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  width: 500px;
  row-gap: 20px;
  justify-content: center;
  align-items: center;
  padding: 30px 20px 60px 20px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  background: #ffffff;
  border: 2px solid #d6d6d6;
}

.title {
  font-size: 30px;
  font-weight: 700;
}

.desc {
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 10px;
  color: #a49e9e;
}

.passwordInputNest {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}

.passwordInputNest button {
  border-style: none;
  border-radius: 20px;
  color: white;
  background-color: #da9100;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 15px;
  cursor: pointer;
  transition: opacity 0.15s, box-shadow 0.02s;
}

.passwordInputNest button:hover {
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.15);
}

.passwordInputNest button:active {
  opacity: 0.8;
}

.changePasswordInput1,
.changePasswordInput2 {
  display: flex;
  flex-direction: column;
  row-gap: 2px;
}

.changePasswordInput2 {
  margin-bottom: 20px;
}

.changePasswordInput1 input,
.changePasswordInput2 input {
  padding: 7px 0px;
  border: 1px solid #a49e9e;
  font-size: 15px;
  text-indent: 5px;
}

.changePasswordInput1 input::placeholder,
.changePasswordInput2 input::placeholder {
  font-size: 14px;
  font-weight: 500;
}

.changePasswordInput1 label,
.changePasswordInput2 label {
  margin-left: 4px;
  font-size: 15px;
  font-weight: 700;
}

/* ========================= */
/* == RESPONSIVE STYLES ==== */
/* ========================= */

/* Mobile view */
@media screen and (max-width: 524.99px) {
  .changePasswordContainer {
    border-radius: 16px;
    box-sizing: content-box;
    width: 83%;
    padding: 40px 20px 50px 20px;
    row-gap: 15px;
  }

  .title {
    font-size: 25px;
    font-weight: 700;
  }

  .desc {
    font-size: 18px;
    color: #a49e9e;
  }

  .changePasswordInput1 input,
  .changePasswordInput2 input {
    height: 30px;
    padding: 0px 0px;
  }

  .changePasswordInput1 label,
  .changePasswordInput2 label {
    font-size: 15px;
  }

  .passwordInputNest {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
  }
}

@media screen and (min-width: 525px) and (max-width: 600px) {
  .changePasswordContainer {
    width: 80%;
    padding: 30px 20px 40px 20px;
    row-gap: 15px;
  }

  .title {
    font-size: 25px;
    font-weight: 700;
  }

  .desc {
    font-size: 18px;
    color: #a49e9e;
  }

  .changePasswordInput1 input,
  .changePasswordInput2 input {
    height: 30px;
    padding: 0px 0px;
  }

  .changePasswordInput1 label,
  .changePasswordInput2 label {
    font-size: 15px;
  }

  .passwordInputNest {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
  }
}
