.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100dvh;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: flex-end;
  z-index: 2000;
}

html[data-darkmode="true"] .modalOverlay {
  background-color: rgba(0, 0, 0, 0.6);
}

@supports not (height: 100dvh) {
  .modalOverlay {
    height: 100vh;
  }
}

.mainContainer {
  box-sizing: border-box;
  background: white;
  height: 96%;
  width: 100%;
  border-radius: 8px;
  position: relative;
  display: flex;
  flex-direction: column;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
  overflow: auto;
}

html[data-darkmode="true"] .mainContainer {
  background-color: #1e1e1e;
  color: white;
}

.modalClose {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 15px;
  right: 0px;
  background: transparent;
  border: none;
  cursor: pointer;
}

.modalClose svg {
  transition: transform 0.3s ease, fill 0.3s ease;
  fill: red;
}

.modalClose svg:hover {
  transform: rotate(360deg);
  fill: red;
}

.notificationContainer {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: rgb(248, 248, 248);
  padding-top: 30px;
  border-width: 1px;
  border-radius: 10px;
  overflow: auto;
  scroll-behavior: smooth;
}

html[data-darkmode="true"] .notificationContainer {
  background-color: #1e1e1e;
  border: 1px solid #1e1e1e;
  color: white;
}

.notificationField {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 5px;
  font-weight: 700;
}
