body {
  margin: 0;
  padding: 0;
  height: 100vh;
}

.wrapper {
  display: flex;
  flex-direction: row;
  height: 100vh;
}

.inputWrapper {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}

.inputContainer {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}

.inputContainer button {
  color: white;
  font-weight: 700;
  height: 30px;
  border-radius: 5px;
  /* background-color: rgb(60, 166, 42); */
  background-color: #3ca62a;
  border-style: none;
  transition: 0.05s;
}

.inputContainer button:hover {
  cursor: pointer;
  background-color: rgba(60, 166, 42, 0.9);
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.15);
}

.inputContainer button:active {
  background-color: rgba(60, 166, 42, 0.7);
}

.inputWrapper input {
  width: 400px;
  height: 22px;
  border-radius: 5px;
  border-width: 2px;
  /* border-color: rgb(178, 190, 181); */
  border-color: black;
}

.leftSide {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1.2;
  height: 100vh;
}

.leftSideCentered {
  display: flex;
  flex-direction: column;
  background-color: white;
  padding: 15px 4px 30px;
}

.checkboxAlign {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 40px;
  column-gap: 6px;
}

.forgotPasswordField {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.forgotPasswordField a {
  text-decoration: none;
  color: rgb(60, 166, 42);
}

.forgotPasswordField a:hover {
  text-decoration: underline;
}

.rightSide {
  flex: 1.8;
  height: 100vh;
  overflow: hidden;
}

.rightSide img {
  width: 100%;
  height: 100vh;
  object-fit: fill;
}

.title {
  font-size: 28px;
  font-weight: 700;
}

.PageTitle {
  font-size: 25px;
  font-weight: bolder;
  margin-bottom: 5px;
  font-family: "Winky Rough", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  background-color: #3ca62a;
  color: white;
}

.imgIcon {
  height: 65px;
  width: 65px;
  display: flex;
  justify-content: left;
  align-items: center;
  background-color: #3ca62a;
  border-style: solid;
  border-color: white;
  border-width: 2px;
  border-radius: 80px;
  margin-bottom: 5px;
}

.companyLogo {
  height: 55px;
  width: 55px;
  margin-left: 2px;
}
