.modalOverlay {
  position: fixed;
  top: 0; left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease, visibility 0.3s ease;
  z-index: 2000;
}

.modalOverlay.show {
  opacity: 1;
  visibility: visible;
}

.modalContainer {
  background: white;
  height: 470px;
  width: 53%;
  transform: translateY(-30px);
  max-width: 1000px;
  border-radius: 8px;
  position: relative;
  padding: 24px;
  display: flex;
  flex-direction: column;
  opacity: 0;
  transition: all 0.3s ease;
}

.modalOverlay.show .modalContainer {
  transform: translateY(0);
  opacity: 1;
}

.modalClose {
  position: absolute;
  top: 2px;
  right: 0px;
  background: transparent;
  border: none;
  cursor: pointer;
}

.modalClose svg {
  transition: transform 0.3s ease, fill 0.3s ease;
}

.modalClose svg:hover {
  transform: rotate(360deg);
  fill: red;
}

.modalContent {
  box-sizing: border-box;
  display: flex;
  height: 100%;
  overflow-y: auto;
  flex-wrap: wrap;
}

.modalImageSection {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: 200px;
  min-width: 300px;
  height: 100%;
  max-height: 100%;
  overflow: hidden;
  row-gap: 15px;
}

.mainImageWrap {
  height: 68%;
  border-style: solid;
  border-width: 2px;
  border-color: #ccc;
  overflow: hidden;
}

.mainImage {
  width: 100%;
  object-fit: cover;
  height: 100%;
  max-width: 300px;
  margin-bottom: 12px;
}

.thumbnailLayout {
  display: flex;
  flex-shrink: 0;
  min-width: 100%;
  justify-content: center;
  width: 100%;
  height: 18%;
}

.thumbnailRowWrap {
  box-sizing: border-box;
  width: 238px;
  height: 100%;
  position: relative;
}

.thumbnailRowWrap:hover .productModalCarouselArrow {
  opacity: 1;
  pointer-events: auto;
}


.productModalCarouselArrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  padding: 4px 8px;
  cursor: pointer;
  z-index: 1;
  border-radius: 4px;
  opacity: 0;
  pointer-events: none;
}

.productModalCarouselArrow.left {
  left: 1px;
}

.productModalCarouselArrow.right {
  right: 1px;
}


.thumbnailRow {
  box-sizing: border-box;
  display: flex;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  scroll-snap-type: x mandatory;
  align-items: center;
  gap: 8px;
  padding: 2px 0px;
}

.thumbnail {
  flex-shrink: 0;
  width: 70px;
  height: 90%;
  object-fit: fill;
  scroll-snap-align: start;
  border: 2px solid #ccc;
  border-radius: 4px;
  cursor: pointer;
}

.thumbnail:hover {
  border: 2px solid #007bff;
}

.thumbnail.selected {
  border: 2px solid #007bff;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

.modalDetails {
  box-sizing: border-box;
  flex-grow: 1;
  flex-shrink: 0;
  flex-basis: 300px;
  min-width: 350px;
  height: 100%;
  padding-left: 20px;
}

.productTitle {
  font-size: 1.75rem;
  font-weight: bold;
  margin-bottom: 5px;
}

.hrCheckoutModal
{
  margin-top: 25px;
  margin-bottom: 25px;
}

.productModalProductPrice {
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 8px;
}

.productRating {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-bottom: 12px;
}

.stars {
  color: gold;
}

.reviewCount {
  color: #666;
}

.productDescription {
  margin: 16px 0;
  color: #444;
}

.productSku,
.productCategory,
.productTags {
  margin-bottom: 8px;
}

.productCategory .blue {
  color: #007bff;
}

.purchaseActions {
  display: flex;
  align-items: center;
  gap: 16px;
  margin: 20px 0;
}

.quantityControl {
  display: flex;
  align-items: center;
  gap: 8px;
  border: 1px solid #ccc;
  padding: 7px 2px;
  color: white;
  background-color: #333;
  border-radius: 4px;
}

.quantityControl button {
  background: none;
  border: none;
  font-size: 18px;
  cursor: pointer;
  color: white;
}

.addToCart {
  background-color: #1d4ed8;
  color: white;
  padding: 10px 28px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

.wishlist {
  background-color: #333;
  color: white;
  padding: 7px 12px;
  border: none;
  border-radius: 4px;
  font-size: 18px;
  cursor: pointer;
}

.paymentOptions {
  display: flex;
  align-items: center;
  gap: 5px;
  margin-top: 16px;
}

.paypalIcon {
  padding: 2px;
  border-style: solid;
  border-radius: 2px;
  border-width: 1px;
  border-color: gold;
  height: 20px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.mastercardIcon {
  height: 38px;
}

.visacardIcon {
  height: 36px;
}

.discoverIcon {
  height: 22px;
}
