.container {
  display: flex;
  flex-direction: row;
  height: 100dvh;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.container[data-darkmode="true"] {
  background-color: #121212;
}

.leftSide {
  flex: 1;
  display: flex;
  height: 100dvh;
  justify-content: end;
  flex-shrink: 5;
  background: url("images/key2.png") no-repeat center center/contain;
}

.rightSide {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
  padding-top: 150px;
}

.rightSideContent {
  display: flex;
  flex-direction: column;
  padding: 10px 20px 30px 10px;
}

.forgotPasswordLayer1 {
  margin-bottom: 10px;
  font-size: 25px;
  font-weight: 700;
  padding: 5px 0px;
}

.container[data-darkmode="true"] .forgotPasswordLayer1 {
  color: white;
}

.forgotPasswordLayer2 {
  margin-top: 30px;
}

.passwordFormWrap {
  display: flex;
  flex-direction: column;
}

.passwordFormWrap button {
  font-size: 18px;
  font-weight: 700;
  width: 92%;
  padding: 10px 0px;
  margin-bottom: 40px;
  background-color: #da9100;
  color: white;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  transition: opacity 0.15s;
}

.passwordFormWrap button:hover {
  opacity: 0.8;
}

.passwordFormWrap button:active {
  opacity: 0.5;
}

.passwordFormWrap label {
  font-weight: 700;
  color: grey;
  width: 90%;
}

.container[data-darkmode="true"] .passwordFormWrap label {
  color: white;
}

.passwordInputWrap {
  display: flex;
  flex-direction: row;
  margin-top: 5px;
  margin-bottom: 35px;
  position: relative;
}

.passwordInputWrap input {
  width: 90%;
  height: 30px;
  text-indent: 34px;
  outline: none;
}

.passwordInputWrap input:focus {
  border: 1.4px solid black;
  border-radius: 5px;
}

.container[data-darkmode="true"] .passwordInputWrap input {
  outline: none;
  background-color: #2a2a2a;
  border-style: solid;
  border-width: 1px;
  color: #f0f0f0;
}

.container[data-darkmode="true"] .passwordInputWrap input:focus {
  outline: none;
  border-color: #2563eb;
  border-width: 1.5px;
  border-radius: 5px;
}

.container[data-darkmode="true"] .passwordInputWrap input::placeholder {
  color: #a3a3a3;
}

.passwordInputWrap .emailIcon {
  height: 25px;
  width: 20px;
  position: absolute;
  top: 5px;
  left: 12px;
}

.container[data-darkmode="true"] .emailIcon {
  top: 4px;
  color: white;
}

.passwordInputWrap:focus-within .emailIcon {
  top: 5px;
}

.backToMenu {
  display: flex;
  justify-content: center;
  padding: 5px;
  width: 90%;
}

.backToMenu a {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  column-gap: 5px;
  border: none;
  text-decoration: none;
  color: grey;
}

.container[data-darkmode="true"] .backToMenu a {
  color: white;
}

.leftArrow {
  height: 40px;
  width: 40px;
  color: black;
}

.container[data-darkmode="true"] .leftArrow {
  color: white;
}

/* Mobile Responsive */
@media (max-width: 501px) {
  .container {
    display: block;
  }

  .leftSide {
    display: block;
    height: 250px;
    background: url("images/key2.png") no-repeat center center/contain;
  }

  .rightSide {
    display: block;
    height: 170px;
    padding-top: 0px;
  }

  .rightSideContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0px;
    margin-top: -10px;
  }

  .forgotPasswordLayer1 {
    display: flex;
    align-self: center;
    margin-bottom: 0px;
    font-size: 25px;
    padding: 0px;
  }

  .forgotPasswordLayer2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
  }

  .passwordFormWrap {
    display: flex;
    flex-direction: column;
    font-size: 17px;
    padding: 0px 20px;
  }

  .passwordFormWrap label {
    font-weight: 700;
    color: grey;
    width: 100%;
  }

  .passwordFormWrap button {
    width: 100%;
    padding: 5px 0px;
  }

  .passwordInputWrap {
    margin-top: 20px;
  }

  .passwordInputWrap input {
    width: 100%;
    height: 25px;
    text-indent: 39px;
    border-radius: 6px;
    padding-top: 3px;
    outline: none;
    border: 1px solid #2a2a2a;
  }

  .container[data-darkmode="true"] .passwordInputWrap input {
    background-color: #2a2a2a;
    border: 1px solid #3a3a3a;
    color: #f0f0f0;
  }

  .passwordInputWrap .emailIcon {
    height: 25px;
    width: 20px;
    position: absolute;
    top: 2.8px;
    left: 12px;
  }

  .container[data-darkmode="true"] .emailIcon {
    top: 2.8px;
    color: white;
  }

  .passwordInputWrap:focus-within .emailIcon {
    top: 3px;
  }

  .passwordInputWrap input::placeholder {
    font-size: 16px;
  }

  .backToMenu {
    margin-bottom: 30px;
  }
}
