.container {
  display: flex;
  flex-direction: row;
  height: 100dvh;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.leftSide {
  flex: 1;
  display: flex;
  height: 100dvh;
  justify-content: end;
  flex-shrink: 5;
  background: url("images/key.png") no-repeat center center/contain;
}

.rightSide {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
  padding-top: 150px;
}

.rightSideContent {
  display: flex;
  flex-direction: column;
  padding: 10px 20px 30px 10px;
}

.forgotPasswordLayer1 {
  margin-bottom: 10px;
  font-size: 25px;
  font-weight: 700;
  padding: 5px 0px;
}

.forgotPasswordLayer2 {
  margin-top: 30px;
}

.passwordFormWrap {
  display: flex;
  flex-direction: column;
}

.passwordFormWrap button {
  font-size: 18px;
  font-weight: 700;
  width: 92%;
  padding: 10px 0px;
  margin-bottom: 40px;
  background-color: #da9100;
  color: white;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  transition: opacity 0.15s;
}

.passwordFormWrap button:hover {
  opacity: 0.8;
}

.passwordFormWrap button:active {
  opacity: 0.5;
}

.passwordFormWrap label {
  font-weight: 700;
  color: grey;
  width: 90%;
}

.passwordInputWrap {
  display: flex;
  flex-direction: row;
  margin-top: 5px;
  margin-bottom: 35px;
  position: relative;
}

.passwordInputWrap input {
  width: 90%;
  height: 20px;
  text-indent: 29px;
}

.passwordInputWrap img {
  height: 15px;
  position: absolute;
  top: 5px;
  left: 12px;
}

.backToMenu {
  display: flex;
  justify-content: center;
  padding: 5px;
  width: 90%;
}

.backToMenu a {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  column-gap: 5px;
  border: none;
  text-decoration: none;
  color: grey;
}

.mainMenuLink img {
  width: 20px;
}

/* Mobile Responsive */
@media (max-width: 501px) {
  .container {
    display: block;
  }

  .leftSide {
    display: block;
    height: 250px;
    background: url("images/key.png") no-repeat center center/contain;
  }

  .rightSide {
    display: block;
    height: 170px;
    padding-top: 0px;
  }

  .rightSideContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0px;
    margin-top: -10px;
  }

  .forgotPasswordLayer1 {
    display: flex;
    align-self: center;
    margin-bottom: 0px;
    font-size: 25px;
    padding: 0px;
  }

  .forgotPasswordLayer2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
  }

  .passwordFormWrap {
    display: flex;
    flex-direction: column;
    font-size: 17px;
    padding: 0px 20px;
  }

  .passwordFormWrap label {
    font-weight: 700;
    color: grey;
    width: 100%;
  }

  .passwordFormWrap button {
    width: 100%;
    padding: 5px 0px;
  }

  .passwordInputWrap {
    margin-top: 20px;
  }

  .passwordInputWrap input {
    width: 100%;
    height: 25px;
    text-indent: 39px;
    border-radius: 6px;
    padding-top: 3px;
  }

  .passwordInputWrap input::placeholder {
    font-size: 16px;
  }

  .passwordInputWrap img {
    height: 22px;
  }

  .backToMenu {
    margin-bottom: 30px;
  }
}
