.headerLightmode {
  box-sizing: border-box;
  height: 57.4px;
  position: fixed;
  z-index: 100;
  border: none;
  border-right-style: none;
  border-left-style: none;
  border-top-style: none;
  top: 0;
  left: 0;
  right: 0;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
  background-color: white;
}

.headerDarkmode {
  box-sizing: border-box;
  height: 57.4px;
  position: fixed;
  z-index: 100;
  border: none;
  border-right-style: none;
  border-left-style: none;
  border-top-style: none;
  top: 0;
  left: 0;
  right: 0;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
  background-color: rgb(176, 176, 176);
}

/* ===== Mobile View ===== */
@media (max-width: 600px) {
  .headerLightmode,
  .headerDarkmode {
    justify-content: space-between;
    height: 50px;
  }
}
