.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100dvh;
  background-color: rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center;
  align-items: flex-end;
  z-index: 2000;
}

@supports not (height: 100dvh) {
  .modalOverlay {
    height: 100vh;
  }
}

.notificationContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: fixed;
  width: 260px;
  height: 400px;
  background-color: rgb(248, 248, 248);
  border: 5px solid #e5e7eb;
  top: 35px;
  right: 20px;
  border-width: 1px;
  border-radius: 10px;
  padding-top: 7px;
  padding-bottom: 7px;
  padding-left: 8px;
  margin-top: 20px;
  scroll-behavior: smooth;
}

.notificationContainer::before {
  content: "";
  position: absolute;
  top: -10px;
  left: 164px;
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid rgb(248, 248, 248);
}

.notificationField {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 5px;
  font-weight: 700;
}

@media screen and (max-width: 599.99px) {
  .notificationContainer::before {
    display: none;
  }
}

@media (min-width: 600px) and (max-width: 788px) {
  .notificationContainer::before {
    top: -10px;
    left: 180px;
  }
}
