.cardWrapDarkmode {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: rgb(176, 176, 176);
  border-radius: 5px;
  border-style: none;
  padding: 15px 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.cardWrapDarkmode:hover {
  transform: translateY(-10px) scale(1.05);
  box-shadow: 0 15px 40px rgba(0, 255, 150, 0.2),
    0 4px 10px rgba(0, 255, 150, 0.3);
  background: linear-gradient(
    to top,
    rgba(0, 255, 150, 0.2),
    rgba(0, 0, 0, 0.1)
  );
  border: 1px solid rgba(0, 255, 150, 0.3);
  font-weight: 700;
}

.cardWrapDarkmode:hover .cardDesc {
  color: white;
}

.cardWrapLightmode {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: white;
  border-radius: 5px;
  border-style: none;
  padding: 15px 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.cardWrapLightmode:hover {
  transform: translateY(-10px) scale(1.05);
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.2);
  background: linear-gradient(to top, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0));
  font-weight: 700;
}

.btnLayer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.favBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: inherit;
  border: none;
  cursor: pointer;
}

.heartIcon {
  width: 20px;
  height: 15px;
  cursor: pointer;
}

.viewLink {
  all: unset;
  display: inline-block;
  background-color: #3ca62a;
  cursor: pointer;
  border-radius: 2px;
  padding: 5px 6px;
  text-decoration: none;
  color: white;
  font: inherit;
  text-align: center;
  transition: all 0.2s ease-in-out;
}

.viewLink[aria-disabled="true"],
.viewLink[aria-disabled="true"]:hover {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #3ca62a;
  opacity: 0.8;
  cursor: pointer;
  border-style: none;
  border-radius: 2px;
  width: 30px;
  padding: 5px;
  text-decoration: none;
  color: white;
  transition: all 0.2s ease-in-out;
}

.viewLink:hover {
  color: black;
}

.viewLink:active {
  opacity: 0.8;
}

.cardImageWrap {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: -7px;
  margin-bottom: 15px;
  overflow: hidden;
}

.cardImage {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  width: 70px;
  height: 70px;
  background-color: yellow;
  overflow: hidden;
}

.cardImage img {
  width: 100%;
  height: 100%;
  object-fit: fill;
}

.alpha {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background-color: yellow;
  font-size: 40px;
}

.cardDesc {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 5px;
  color: black;
}

.contactName {
  overflow-wrap: anywhere;
  min-width: 0px;
}

.arrowRight {
  display: none;
}

@media (max-width: 600px) {
  .cardWrapDarkmode {
    flex-direction: row;
    padding: 7px 0px 7px 15px;
    justify-content: left;
    background-color: inherit;
    box-shadow: none;
  }

  .cardWrapLightmode {
    flex-direction: row;
    padding: 7px 0px 7px 15px;
    justify-content: left;
    background-color: inherit;
    box-shadow: none;
  }

  .cardWrapDarkmode:hover {
    transform: none;
    box-shadow: 0 15px 40px rgba(0, 255, 150, 0.2),
      0 4px 10px rgba(0, 255, 150, 0.3);
    box-shadow: none;
    background: linear-gradient(
      to top,
      rgba(0, 255, 150, 0.2),
      rgba(0, 0, 0, 0.1)
    );
    border: 1px solid rgba(0, 255, 150, 0.3);
    font-weight: 700;
  }

  .cardWrapLightmode:hover {
    transform: none;
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.2);
    background: linear-gradient(to top, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0));
    font-weight: 700;
  }

  .btnLayer {
    display: none;
  }

  .cardImageWrap {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    margin-top: 0px;
    margin-bottom: 0px;
    overflow: hidden;
  }

  .cardImage {
    height: 55px;
    margin-left: 10px;
    margin-right: 20px;
  }

  .alpha {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    font-size: 20px;
  }

  .cardDesc {
    align-items: start;
    padding-left: 5px;
  }

  .cardWrapDarkmode .cardDesc {
    color: white;
  }

  .cardWrapLightmode .arrowRight {
    width: 30px;
    height: 100%;
    display: flex;
    align-self: center;
    margin-left: auto;
    margin-right: 20px;
    justify-content: center;
    align-items: center;
    color: black;
  }

  .cardWrapDarkmode .arrowRight {
    width: 30px;
    height: 100%;
    display: flex;
    align-self: center;
    margin-left: auto;
    margin-right: 20px;
    justify-content: center;
    align-items: center;
    color: white;
  }
}
